.details-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.mat-form-field {
  width: 50%;
}

.save-button {
  margin-bottom: 20px;
}

.ext-id-field {
  margin-top: 5px;
}
